body, html {
    width: 100%;
    height: 100%;
}

body {
    background-color: darkgrey;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    .main {
        width: 100%;
        z-index: 100; /* Stay on top */
        margin-left: 0;
        position: absolute;
        top: 0;
        left: 0;
        .list {
            width: 50%;
            display: block;
            margin-left: 0;
            .bug {
                width: 100%;
                height: 3ch;
                background-clip: padding-box;
                background-color: #44AA44;
                text-shadow: 2px 2px black;
                border: 1px solid black;
                font-size: 20px;
                cursor: pointer;
                margin-left: 0;
                display: block;
                p {
                    display: block;
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }
            .bug:hover {
                background-color: #AAAAAA;
            }
        }
        .info_bar {
            width: 50%;
            height: 100%; /* Full-height: remove this if you want "auto" height */
            position: fixed; /* Fixed Sidebar (stay in place on scroll) */
            z-index: 1; /* Stay on top */
            top: 0; /* Stay at the top */
            right: 0; 
            background-color: rgba(0.0, 0.0, 0.0, 1.0); /* Black */
            background-image: url("img/grass_texture.jpg");
            overflow-x: hidden; /* Disable horizontal scroll */
            padding-top: 20px;
            float: right;
            text-shadow: 2px 2px black;
            img {
                display: block;
                margin: auto auto;
                border: 3px solid black;
                margin-bottom: 3ch;
            }
            p {
                font-size: 25px;
            }
            .container {
                background-color: rgba(0.0, 0.0, 0.0, 0.4);
                border: 3px solid black;
                width: 75%;
                display: block;
                margin: auto auto;
                border-radius: 15px;
            }
        }
        p {
            color: white;
            text-align: center;
        }
    }
    .bg-color {
        background-color: blue;
        background-image: url("img/mitzi.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
        height: 100%;
        position: fixed;
        left: 0px;
        right: 0px;
        z-index: -1;
        filter: blur(8px);
    }
}