body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: darkgrey;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    background-attachment: fixed;
}

.bg-color {
    background-color: blue;
    background-image: url("img/mitzi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    height: 100%;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: -1;
    filter: blur(8px);
}

li {
    list-style-type: none;
}

.main {
    z-index: 100; /* Stay on top */
    margin-left: 160px;
    padding: 0px 10px;
}

.main p {
    color: white;
    text-align: center;
}
.info_bar {
    height: 99%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0; 
    background-color: rgba(0.0, 0.0, 0.0, 0.8); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-radius: 25px;
}

.list ul li {
    background-color: purple;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    z-index: 100;
}